In [3]:
import pandas as pd

df= pd.read_csv('/workspaces/avocado_retailing/Avocado_HassAvocadoBoard_20152023v1.0.1.csv')
df.head()

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington

In [4]:
df.region.unique()
df.type.unique()

array(['conventional', 'organic'], dtype=object)

In [5]:
#checking for duplicates, if there are duplicates .
df.duplicated().sum()

np.int64(0)

#No Duplicates are found.

In [6]:
df.isnull().sum()

Date                0
AveragePrice        0
TotalVolume         0
plu4046             0
plu4225             0
plu4770             0
TotalBags           0
SmallBags       12390
LargeBags       12390
XLargeBags      12390
type                0
region              0
dtype: int64

since there are nulls only in SmallBags, LargeBags, XLargeBags , Lets try to check the nulls are specific to a region,type , date range or random.

In [7]:
#df[df['SmallBags'].isnull()]['region'].value_counts()
#df[df['SmallBags'].isnull()]['type'].value_counts()
df[df['SmallBags'].isnull()]['Date'].min(), df[df['SmallBags'].isnull()]['Date'].max()

('2021-12-05', '2023-12-03')

In [8]:
#df[df['LargeBags'].isnull()]['region'].value_counts()
#df[df['LargeBags'].isnull()]['type'].value_counts()
df[df['LargeBags'].isnull()]['Date'].min(), df[df['LargeBags'].isnull()]['Date'].max()

('2021-12-05', '2023-12-03')

In [10]:

#df[df['XLargeBags'].isnull()]['region'].value_counts()
#df[df['XLargeBags'].isnull()]['type'].value_counts()
df[df['XLargeBags'].isnull()]['Date'].min(), df[df['XLargeBags'].isnull()]['Date'].max()

('2021-12-05', '2023-12-03')

#Looks like SmallBags, LargeBags, XLargeBags are consistent with Region and Type -[conventional-6195, organic -6195] missing values, so the missing is not random and the data is structured.

In [11]:
# we will perform preprocessing on the copy dataset not the original.
df_copy =df.copy()

Now filling  missing/ null values as 0

In [12]:
df_copy[['SmallBags', 'LargeBags', 'XLargeBags']] = df_copy[['SmallBags', 'LargeBags', 'XLargeBags']].fillna(0)

In [13]:
df_copy.isnull().sum()

Date            0
AveragePrice    0
TotalVolume     0
plu4046         0
plu4225         0
plu4770         0
TotalBags       0
SmallBags       0
LargeBags       0
XLargeBags      0
type            0
region          0
dtype: int64